<div class="col-sm-8 col-sm-offset-2">
    <form class="form-horizontal"
          ng-submit="empDetailVm.save()"
          novalidate>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="pull-right">

                    <!--any generic way to remove the || ??-->
                    <button class="btn btn-primary"
                            ladda="empDetailVm.data.isSaving"
                            type="submit">
                        <span ng-if="!empDetailVm.isCreate">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save
                        </span>
                        <span ng-if="empDetailVm.isCreate">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Create
                        </span>
                    </button>

                    <button class="btn btn-danger"
                            ladda="empDetailVm.data.isDeleting"
                            ng-if="!empDetailVm.isCreate"
                            ng-click="empDetailVm.remove()">
                        <i class="fa fa-trash"></i>&nbsp;Delete
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <ng-include src="'template/form.employee.html'"></ng-include>
            </div>
        </div>
    </form>
</div>