<div>
    <button class="btn btn-primary pull-right"
            ng-click="calendarVm.createEvent()">Create
    </button>
    <br>
    <h3 class="text-center">{{ calendarVm.calendarTitle }}</h3>
    <div class="row">
        <div class="col-md-6 text-left">
            <div class="btn-group">
                <button class="btn btn-primary"
                        mwl-date-modifier
                        date="calendarVm.viewDate"
                        decrement="calendarVm.calendarView"
                        ng-click="calendarVm.cellIsOpen = false">Previous
                </button>
                <button class="btn btn-default"
                        mwl-date-modifier
                        date="calendarVm.viewDate"
                        set-to-today
                        ng-click="calendarVm.cellIsOpen = false">Today
                </button>
                <button class="btn btn-primary"
                        mwl-date-modifier
                        date="calendarVm.viewDate"
                        increment="calendarVm.calendarView"
                        ng-click="calendarVm.cellIsOpen = false">Next
                </button>
            </div>
        </div>
        <!--<br class="visible-xs visible-sm">-->
        <div class="col-md-6 text-right">
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="calendarVm.calendarView" uib-btn-radio="'year'"
                       ng-click="calendarVm.cellIsOpen = false">Year</label>
                <label class="btn btn-primary" ng-model="calendarVm.calendarView" uib-btn-radio="'month'"
                       ng-click="calendarVm.cellIsOpen = false">Month</label>
                <label class="btn btn-primary" ng-model="calendarVm.calendarView" uib-btn-radio="'week'"
                       ng-click="calendarVm.cellIsOpen = false">Week</label>
                <label class="btn btn-primary" ng-model="calendarVm.calendarView" uib-btn-radio="'day'"
                       ng-click="calendarVm.cellIsOpen = false">Day</label>
            </div>
        </div>
    </div>
    <br>
    <mwl-calendar
            events="calendarVm.events"
            view="calendarVm.calendarView"
            view-title="calendarVm.calendarTitle"
            view-date="calendarVm.viewDate"
            on-event-click="calendarVm.eventClicked(calendarEvent)"
            on-event-times-changed="calendarVm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
            cell-is-open="calendarVm.cellIsOpen"
            day-view-start="06:00"
            day-view-end="22:59"
            day-view-split="30"
            cell-modifier="calendarVm.modifyCell(calendarCell)"
            cell-auto-open-disabled="true"
            on-timespan-click="calendarVm.timespanClicked(calendarDate, calendarCell)">
    </mwl-calendar>
    <br>
</div>